@{ ViewBag.Title = "About"; }
<h2>@ViewBag.Title.</h2>




<body style="background-color:lightgrey; ">
    <h1 style="font-family: Comic Sans MS ; font-size:80px;  color:black;">Hello All!! &#128512;</h1>
    <h2 style="font-family: Serif; font-size: 60px; color: black;">Welcome to <strong>Infinite Bazar</strong></h2>
    <p style="font-family: Arial; font-size: 20px; color: black;">
        We will help you to shop at Infinite bazar, we  are not just an online store; we are your got to destination for all your needs.<br />
        We believe in simplifing the cyber shopee experience and ensuring that our customers have access to best products.<br />
    </p>
    <p style="font-family: Serif; font-size: 40px; color: black;">Payment Information:</p>
    <p style="color: black; font-size: 20px">At Cyber Shopee we believe in providing a convenient and hassle-free shopping experience. Currently, we exclusively offer Cash on Delivery (COD) as the payment method for all purchases.</p>

    <p style="color: black; font-size: 30px; font-family: Serif; ">Why Cash on Delivery?</p>
    <p style="color: black; font-size: 20px">Cash on Delivery allows you to pay for your order with cash when it is delivered to your doorstep. We understand that this payment method offers a level of convenience and flexibility, and we want to make your shopping experience as straightforward as possible.</p>
</body>
